.container{
    width : 950px;
    background:#fff;
    height : inherit;
    margin : 0 auto;
    border-bottom: #F3F3F4 solid 8px;
    }
.container h1{
    font-size : 70px;
    color : #2C2C2C;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    margin : 0px;
    padding-top : 50px; 
       
}   

.container a{
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    text-align: right;
    display: block;
    padding: 20px 230px 50px 0;
    
}

#img{
    position : relative;
    background:url( "http://www.pknu.ac.kr/campus/img/dy_cam_map_new.jpg");
width : 950px;
margin : 0 auto;
display : block;
border-bottom: #F3F3F4 solid 10px;
height : 665px;
}

/* marker */
#marker1{
    position: absolute;
    top : 140px;
    left : 223px;
}

#marker2{
    position: absolute;
    top : 195px;
    left : 260px;
              
}

#marker3{
    position: absolute;
    top : 230px;
    left : 290px;
}
#marker4{
    position: absolute;
    top : 250px;
    left : 295px;
}


/* arrow */
#popup1 {
	position: relative;
	background: #fff;
    border: 1px solid #7f7f80;
    width : 150px;
    height : 60px;
    top : 100px;
    left : 290px;
    border-radius: 5px;
    padding-left : 15px;
    padding-top : 10px;
    border : solid 1px;
}
#popup1:after, #popup1:before {
    right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#popup1:after {
	border-color:rgba(255, 255, 255, 0);
    border-right-color: #fff;
    
	border-width: 10px;
	margin-top: -10px;
    
}
#popup1:before {
	border-color: rgba(127, 127, 128, 0);
	border-right-color: black;
	border-width: 13px;
	margin-top: -13px;
}

#popup1 p,a{font-size: 12px;}