/* header */
.container{
    width : 950px;
    height : inherit;
    margin : 0 auto;
    }
.container h1{
    font-size : 70px;
    color : #2C2C2C;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    margin : 0px;
    padding-top : 50px;

}
.container h3{
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    text-align: right;
    display: block;
    padding: 20px 230px 50px 0;
    margin-bottom: 0px;
}

/* content */
#img{
    position : relative;
    background:url( "http://www.pknu.ac.kr/campus/img/dy_cam_map_new.jpg");
    width : 950px;
    margin : 0 auto;
    display : block;
    height : 665px;
    border: solid 2px #f0f0f0;
}

/* marker */
.marker{
    position: absolute;
    filter :grayscale(100%);
}
.marker:hover{
  filter :grayscale(0%);
}

/* popup */
.popup {
	position: absolute;
	background: #fff;
    border: 2px solid #eba731;
    width :inherit;
    height : inherit;
    border-radius: 5px;
    padding : 10px 20px 0 15px;
}
#right:after {right: 100%; border-right-color: #fff;}
#right:before {right: 100%; border-right-color: #eba731;}
#left:after {left: 100%; border-left-color: #fff;}
#left:before {left: 100%; border-left-color: #eba731;}
.popup:after, .popup:before {top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.popup:after {border-color:rgba(255, 255, 255, 0); border-width: 10px; margin-top: -10px;}
.popup:before {border-color: rgba(89, 89, 89, 0); border-width: 13px; margin-top: -13px;}
.popup p,a{font-size: 12px; margin-top:0px;}
